.list
  cursor: pointer
  display: flex
  flex-direction: column
  margin: 0.5rem
  background-color: #f4f4f4
  border-radius: 0.25rem
  transition: 0.3s
  &:hover
    transition: 0.3s
    box-shadow: 9px 7px 0px 1px rgba(0, 0, 0, 0.4);
  &-name
    display: flex
    flex-direction: row
    flex-wrap: nowrap
    justify-content: space-between
    align-items: center
    padding: 0 0.25rem
    padding-top: 0.25rem
  &-img, &-btn
    flex-basis: 10%
    & img
      width: 1.3rem
  &-btn > img
    width: 1rem
    transition: 0.5s
  &__open
    transform: rotate(180deg)
  &-title
    flex-basis: 70%
.add-task
  cursor: pointer
  display: flex
  flex-wrap: nowrap
  justify-content: center
  padding: 0.5rem 0
  & img
    width: 1rem
    margin-right: 0.5rem
  & span
    font-size: 0.8rem

.input-item
  display: flex
  flex-wrap: nowrap
  padding: 0.5rem
  justify-content: space-between
  & input
    width: stretch
    padding: 0.2rem
    margin-right: 0.2rem
    border: 2px solid #b7c4c8
    border-radius: 0.25rem
    &:focus
      outline: none
  & button
    padding: 0.25rem 0.5rem
    color: #1f3a47
    background-color: #b7c4c8
    border: none
    border-radius: 0.25rem
.list-name__open
  border-bottom: 2px solid #b7c4c8