.task
  display: flex
  flex-wrap: nowrap
  justify-content: space-between
  align-items: center
  padding: 0 0.5rem
  margin: 0.2rem 0
  &-state img
    display: block
    width: 1rem
  &-title
    flex-basis: 70%
  &-delete img
    display: block
    width: 1.5rem
.checked
  text-decoration: line-through